app-main {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    overflow: auto;
}

main.main {
    /*height: calc(100vh - 112px);*/
    overflow: auto;
    flex-grow: 1;
    margin: 0;
    padding: 0;
    /* TRUE white is a bad idea,
    this colour is reserved for the background
    of the content elements, iv'e adjusted it a bit up so its now a light grey,
    adding contrast to all of this */
}

main.margin {
    overflow: auto;
    flex-grow: 1;
    padding: 30px;
    margin: 2% 5% 1% 5%;
    background-color: white;
    /*box-shadow: 10px -10px 0 0 #404040, 0 0 20px -10px black;*/
}

#appContainer {
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 900px) {
    main.margin {
      border-radius: 0px;
      margin: 0;
      box-shadow: none;
    }
}