app-main {
    display: block;
}

main.main {
    width: 100%;
    padding: 10px;
    background-color: #e5e5e5;
    height: calc(100vh - 112px);
    overflow: auto;
    /* TRUE white is a bad idea,
    this colour is reserved for the background
    of the content elements, iv'e adjusted it a bit up so its now a light grey,
    adding contrast to all of this */
}