* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 30px;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    background-color: #749cb8;
    background-image: linear-gradient(45deg, #91bbd9, #557a95);
    height: 100vh;
}

a {
    color: blue;
}

.hidden {
    display: none !important;
}

.force-block {
    display: block !important;
}

.force-inline-block {
    display: inline-block !important;
}

.position-relative {
    position: relative;
}

.blueButton {
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    background-color: #7395ae;
    color: white;
    box-shadow: 0 0 15px -10px black;
    transition: background-color 250ms ease-in-out, transform 50ms ease;
}

.blueButton:hover {
    background-color: #557a95;
}

.blueButton:active {
    transform: scale(0.95);
}