* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 30px;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    background-color: #c4c0c4;
    height: 100vh;
}

.hidden {
    display: none !important;
}

.force-block {
    display: block !important;
}

