hospital-map {
    display: block;
    width: 100%;
    height: 100%;
}

.hospitalMapContainer {
    width: 100%;
    height: 100%;
}

.hospitalMapButtonsRow {
    display: flex;
    flex-direction: row;
}

.hospitalMapButtonsRow > button {
    margin-right: 5px;
}