hospital-raw-output {
    display: flex;
    flex-direction: column;
}

hospital-raw-output  ul {
    padding-left: 35px;
}

hospital-raw-output textarea {
    height: 40vh;
    line-height: 20px;
}

hospital-raw-output > span.loadButtons {
    display: flex;
    flex-direction: row;
}

hospital-raw-output > span.loadButtons > button {
    flex-grow: 1;
    margin: 20px;
}