.reportForm {
    width: 100%;
}

.reportForm label {
    font-weight: bold;
    display: block;
}

.reportForm input[type=text],
.reportForm input[type=email],
.reportForm select {
    flex-grow: 1;
    height: 30px;
    width: 50%;
    max-width: 600px;
    min-width: 350px;
    padding-left: 2px;
    border: 1px solid #b4b4b4;
}

.formBadInput {
    border: 1px solid red;
}

.reportItemContent {
    margin-left: 15px;
    margin-bottom: 20px;
}

.reportForm input[type=submit],
.reportForm input[type=reset],
.reportForm input[type=button]
{
    width: 250px;
    margin-bottom: 30px;
}

@media screen and (max-width: 420px) {

    .reportForm input,
    .reportForm select {
        width: 100%;
        min-width: unset;
    }
}