.singleHospitalContainer {
    margin: 20px;
}

single-hospital-details {
    word-wrap: break-word;
    display: block;
    position: relative;
}

single-hospital-details h4 {
    margin-bottom: 5px;
    font-weight: bold;
    display: inline-block;
    border-bottom: 1px solid black;
}

hospital-raw-output #closeButton {
    display: none;
}

.status_green,
.status_yellow,
.status_red,
.status_neutral {
    margin-left: 5px;
}

.status_green::before,
.status_yellow::before,
.status_red::before,
.status_neutral::before {
    font-size: 50px;
    display: inline-block;
    position: relative;
    margin: 0 10px;
    line-height: 60px;
}

.status_green::before {
    content: "\2714";
    color: #009100;
}

.status_yellow::before {
    content: "\2014";
    color: #fffb00;
    font-size: 85px;
}

.status_red::before {
    content: "\2718";
    color: red;
}

.status_neutral::before {
    content: "?";
    color: #A9A9A9;
}

.singleHospitalButton {
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    background-color: #7395ae;
    color: white;
    box-shadow: 0 0 15px -10px black;
    transition: background-color 250ms ease-in-out, transform 50ms ease;
}

.singleHospitalButton:hover {
    background-color: #557a95;
}

.singleHospitalButton:active {
    transform: scale(0.95);
}